<section id="shop-list">
<h1>Shopping List</h1>

<div class="header-desc">
  <span>Total value of food needed: <%= @missing_foods_total_price %>$</span>
  <span>Amount of food items to buy: <%= @missing_foods_count %></span>
</div>
<table class="table-list">
<tr>
  <th>Food</th>
  <th>Quantity</th>
  <th>Price</th>
</tr>
<% @recipes_missing_foods.each do |food| %>
  <tr>
    <td><%= food.name %></td>
    <td><%= "#{food.quantity}#{food.measurement_unit}" %></td>
    <td><%= food.price %></td>
  </tr>
<% end %>
</table>
</section>