<%= form_with model: @new_food , url: food_index_path, class: "new-food" do |f| %>
  <h1>Add a New Food</h1>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :measurement_unit %>
    <%= f.text_field :measurement_unit %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.submit 'Add Food', class: "buttn" %>
  </div>
<% end %>